body {
    background-color: #000; /* Sets the background to black */
    color: #fff; /* Sets the text color to white for better readability */
}
.menu-content {
    margin-top: 30px; /* Adjust this to move it lower */
    text-align: center; /* Center the text */
}

.menu-sections {
    display: inline-block; /* Center the block itself */
    padding: 20px; /* Add padding if needed */
}

#meals, #beverages, #other-beverages {
    margin: 20px;
}

.slider-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent items from wrapping to the next line */
}

.slider-container::-webkit-scrollbar {
    height: 10px; /* Add height for horizontal scrollbar */
}

.slider-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Customize scrollbar color */
}

.menu-item {
    flex: 0 0 auto; /* Ensure items don't shrink */
    width: 250px; /* Adjust width as necessary */
    border: 1px solid #444;
    padding: 10px;
    background-color: #222;
    color: #fff;
    border-radius: 8px;
    margin-right: 15px; /* Adjust this value for horizontal space */
    margin-bottom: 20px;
    overflow: hidden;
    box-sizing: border-box;
    text-overflow: ellipsis;
}

.menu-item h3, .menu-item p {
    overflow-wrap: break-word; /* Ensure long words break into the next line */
    word-wrap: break-word;
    margin: 5px 0;
    white-space: normal;
}
.menu-item img {
    width: 100px;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 8px; 
}

.menu-section {
    width: 100%;
    text-align: left; 
}
.menu-section h2 {
    margin-top: 20px; /* Adjust this value to move the heading down */
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
}
