body {
    background-color: #000; 
    color: #fff; 
}

.menu-content {
    margin-top: 30px; 
    text-align: center; 
}

.menu-sections {
    display: inline-block; 
    padding: 20px; 
}

#meals, #beverages, #other-beverages {
    margin: 20px;
}

.slider-container {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap; 
}

.slider-container::-webkit-scrollbar {
    height: 10px; 
}

.slider-container::-webkit-scrollbar-thumb {
    background-color: #888; 
}

.menu-item {
    flex: 0 0 auto; 
    width: 250px; 
    border: 1px solid #444;
    padding: 15px; 
    background-color: #222;
    color: #fff;
    border-radius: 8px;
    margin-right: 15px; 
    margin-bottom: 20px;
    overflow: hidden;
    box-sizing: border-box;
    text-overflow: ellipsis;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.menu-item h3, .menu-item p {
    overflow-wrap: break-word; 
    word-wrap: break-word;
    margin: 5px 0;
    white-space: normal;
}

.menu-item img {
    width: 100%; 
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 8px; 
}

.menu-section {
    width: 100%;
    text-align: center; 
}

.menu-section h2 {
    margin-top: 20px; 
    font-size: 1.8em; 
    color: #fff; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 90%; 
}

@media (max-width: 768px) {
    main {
        margin: 50px 20px; 
    }

    .menu-page {
        grid-template-columns: 1fr; 
        padding: 10px;
    }

    .menu-item {
        padding: 10px; 
    }

    .menu-item h3 {
        font-size: 1.3em;
    }

    .menu-item p {
        font-size: 0.9em;
    }

    .menu-section {
        margin-top: 80px; 
    }

    .menu-section h2 {
        margin-top: 60px; 
        font-size: 1.5em; 
    }
}

@media (max-width: 480px) {
    .menu-item {
        padding: 10px;
    }

    .menu-item h3 {
        font-size: 1.2em;
    }

    .menu-item p {
        font-size: 0.85em;
    }
    .menu-section {
        margin-top: 40px; 
    }

    .menu-section h2 {
        font-size: 1.3em; 
    }
}
