
.logo-container {
    margin-left: 70px; /* Adjust the value as needed */
}
.banner {
    position: relative;
    text-align: center;
    color: #000000;
    height: 600px; /* Adjust the height as needed */
}

.banner img {
    margin-top: 170px;
    margin-left: 550px;
    width: 50%;
    height: 50%; /* Ensures the image fills the entire banner height */
    object-fit: cover;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: F6EBDA; /* Dark overlay */
    z-index: 1;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 10%; /* Adjust this value as needed to control horizontal positioning */
    transform: translateY(-50%); /* Only vertically centers the content */
    color: #000000;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: left; /* Align text to the left */
}

.banner-text h1 {
    font-size: 4em;
    margin: 0;
}

.banner-text p {
    margin-top: 10px;
    font-size: 1.2em;
    max-width: 500px; /* Limit the width to make it look structured */
}

.highlight {
    color: #FF902B; /* Adjust to match your design */
}


.about {
    background-color: F6EBDA;
    padding: 20px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: -10px; 
    margin-left: 20px; 
    padding: 40px; 
}
.about img {
    width: 300px; 
    height: auto;
    margin-right:10px;
}

.about-text {
    width: 60%; 
    color: #000000; 
}
.about-content h2 {
    font-size: 3em; 
    color: #FF902B; 
}
.about-content p {
    font-size: 1.5em; 
    line-height: 1.6;
}


.history-content {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    margin-top: -10px; 
    margin-left: 20px; 
    padding: 40px;
}


.history-content img {
    width: 500px; 
    height: auto;
}


.history-content p {
    font-size: 1.5em; 
    line-height: 1.6;
}

.history-content h2 {
    font-size: 3em; 
    color: #FF902B; 
}

